@font-face {
	font-family: monop;
	src: url(../font/MONOPOLY_INLINE.ttf);
}

#usermsg {
	width: 60%;
}

table.propertiesTable {
	border: 2px solid #ffffff;
	text-align: center;
	border-collapse: collapse;
}
table.propertiesTable td,
table.propertiesTable th {
	border: 1px solid #ffffff;
	padding: 3px, 4px;
}
table.propertiesTable td {
	font-size: 13px;
}
table.propertiesTable th {
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	text-align: center;
}
.start {
	width: 125px;
	height: 125px;
	display: flex;
	flex-direction: column;
}
.chatButton {
	width: 20%;
	margin-left: 30px;
}
#chatBox {
	width: 100%;
	height: 80%;
	margin-bottom: 20px;
	overflow-y: scroll;
	resize: none;
}

body {
	background-image: url("../image/background.jpg");
	background-size: cover;
}
h1,
h2 {
	font-family: monop;
}
h1 {
	text-align: center;
}
.cont {
	overflow: hidden;
	padding-left: 50px;
	padding-right: 50px;
}
.leftCont {
	float: left;
}
.rightCont {
	float: left;
	margin-left: 100px;
}

.chatCont {
	margin-top: 10%;
	margin-bottom: 10%;
	width: 300px;
	height: 400px;
}

.diceCont {
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}

.board {
	background-color: white;
	display: grid;
	grid-column-gap: 2px;
	grid-template-areas:
		"topLeft topOne topTwo topThree topFour topFive topSix topSeven topEight topNine topRight"
		"midLeftOne . . . . . . . . . midRightOne"
		"midLeftTwo . . . . . . . . . midRightTwo"
		"midLeftThree . . . . . . . . . midRightThree"
		"midLeftFour . . . . . . . . . midRightFour"
		"midLeftFive . . . . . . . . . midRightFive"
		"midLeftSix . . . . . . . . . midRightSix"
		"midLeftSeven . . . . . . . . . midRightSeven"
		"midLeftEight . . . . . . . . . midRightEight"
		"midLeftNine . . . . . . . . . midRightNine"
		"btmLeft btmOne btmTwo btmThree btmFour btmFive btmSix btmSeven btmEight btmNine btmRight";
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	grid-row-gap: 0px;
	grid-column-gap: 0px;
	margin: 10px auto;
	width: 970px;
	height: 970px;
}

.center {
	grid-column: 2 / 11;
	grid-row: 2 / 11;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	justify-items: center;
	align-items: center;
	border: 2px solid black;
	background-color: rgb(204, 227, 199);
}

.title {
	grid-column: 1 / 9;
	grid-row: 4;
	font-size: 90px;
	font-weight: 400;
	letter-spacing: 12px;
	margin-left: 15%;
	margin-right: 10%;
}

.community-chest-deck {
	grid-column: 2 / 4;
	grid-row: 2 / 4;
	transform: rotate(315deg);
	margin-bottom: 60px;
	margin-right: 60px;
}

.chance-deck {
	grid-column: 5 / 7;
	grid-row: 5 / 7;
	transform: rotate(315deg);
	margin-top: 60px;
	margin-left: 60px;
}

.deck-name {
	text-align: center;
	font-weight: 300;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.deckCmm {
	border: 2px dashed black;
	width: 160px;
	height: 120px;
	background-color: blue;
}
.deckCha {
	border: 2px dashed black;
	width: 160px;
	height: 120px;
	background-color: orange;
}

.topLeft {
	grid-area: topLeft;
	border: 1px solid rgba(0, 0, 0, 0.8);
	background-image: url(../image/freeParking.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}
.topOne {
	grid-area: topOne;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile14-ebs.png");
}
.topTwo {
	grid-area: topTwo;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("../image/chance.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.topThree {
	grid-area: topThree;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile13-ltb.png");
}
.topFour {
	grid-area: topFour;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile12-ic.png");
}
.topFive {
	grid-area: topFive;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.topSix {
	grid-area: topSix;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile17-kitchen.png");
}
.topSeven {
	grid-area: topSeven;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile16-starb.png");
}
.topEight {
	grid-area: topEight;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.topNine {
	grid-area: topNine;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile15-bytes.png");
}
.topRight {
	grid-area: topRight;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url(../image/goToJail.JPG);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.midLeftOne {
	grid-area: midLeftOne;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile11-lab7.png");
}
.midLeftTwo {
	grid-area: midLeftTwo;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile10-labc.png");
}
.midLeftThree {
	grid-area: midLeftThree;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("../image/cc2.png");
}
.midLeftFour {
	grid-area: midLeftFour;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile09-lab1.png");
}
.midLeftFive {
	grid-area: midLeftFive;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.midLeftSix {
	grid-area: midLeftSix;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile08-fusion.png");
}
.midLeftSeven {
	grid-area: midLeftSeven;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile07-moa.png");
}
.midLeftEight {
	grid-area: midLeftEight;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.midLeftNine {
	grid-area: midLeftNine;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile06-happydays.png");
}

.midRightOne {
	grid-area: midRightOne;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile18-psyBuild.png");
}
.midRightTwo {
	grid-area: midRightTwo;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile19-robBuild.png");
}
.midRightThree {
	grid-area: midRightThree;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("../image/cc3.png");
}
.midRightFour {
	grid-area: midRightFour;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile20-stem.png");
}
.midRightFive {
	grid-area: midRightFive;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.midRightSix {
	grid-area: midRightSix;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("../image/chance.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.midRightSeven {
	grid-area: midRightSeven;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile21-silb.png");
}
.midRightEight {
	grid-area: midRightEight;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.midRightNine {
	grid-area: midRightNine;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile22-lib.png");
}
.btmLeft {
	grid-area: btmLeft;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url(../image/inJail.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.btmOne {
	grid-area: btmOne;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile05-sq4.png");
}
.btmTwo {
	grid-area: btmTwo;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile04-sq3.png");
}
.btmThree {
	grid-area: btmThree;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("../image/chance.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.btmFour {
	grid-area: btmFour;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile03-sq2.png");
}
.btmFive {
	grid-area: btmFive;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.btmSix {
	grid-area: btmSix;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-color: rgb(204, 227, 199);
}
.btmSeven {
	grid-area: btmSeven;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile02-NorthTowers.png");
}
.btmEight {
	grid-area: btmEight;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/cc.png");
}
.btmNine {
	grid-area: btmNine;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/tiles/tile01-SouthTowers.png");
}
.btmRight {
	grid-area: btmRight;
	border: 1px solid rgba(0, 0, 0, 0.959);
	background-image: url("..//image/Go-Arrow.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* Popup box BEGIN */
.popupBox {
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10000;
}
.popupBox .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popupBox > div {
	background-color: #fff;
	box-shadow: 10px 10px 60px #555;
	display: inline-block;
	height: auto;
	max-width: 400px;
	min-height: 600px;
	vertical-align: middle;
	width: 60%;
	position: relative;
	border-radius: 8px;
	padding: 15px 5%;
}
.popupCloseButton {
	background-color: #fff;
	border: 3px solid #999;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 25px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
}
.popupCloseButton:hover {
	background-color: #ccc;
}

/* Popup box END */

.houseImg,
.hotelImg {
	width: 10px;
	height: 10px;
	float: left;
}
#errMsg {
	font-weight: bold;
}
.mainBtn {
	box-shadow: inset -1px -1px 6px 1px #cf866c;
	background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color: #d0451b;
	border-radius: 42px;
	border: 2px solid #942911;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 8px 16px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #854629;
}
.mainBtn:hover {
	background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color: #bc3315;
}
.mainBtn:active {
	position: relative;
	top: 1px;
}
.mainBtn[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

#tradeInit {
	float: left;
}
