@import url('https://fonts.googleapis.com/css?family=Eczar:800');
body{
  background-color:black;
}
.mainPage{
  position: relative;
	width: 100%;
	height: 100%;
	user-select: none;
  padding-top: 50em;
}
.mainPage p{
  position: absolute;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%) rotate(-35deg);
	font-family: "Eczar";
	font-size: 30vmax;
	color: #282828;
	letter-spacing: 0.025em;
	margin: 0;
	transition: 750ms ease-in-out;

}
.topLeft p{
  font-family: "Eczar";
	font-size: 2vmax;
	color: #282828;
	letter-spacing: 0.025em;
	margin: 0;
}
.topLeft a:active{
  color: yellow;
}
.topLeft a{
text-decoration: none;
color: inherit;
}
