<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
		<script
			type="text/javascript"
			src="../../javascript/roomChooseComponents/roomChooseFunctions.js"
		></script>
		<script
			type="text/javascript"
			src="../../javascript/lib/jquery.js"
		></script>
		<script
			type="text/javascript"
			src="../../javascript/roomChooseComponents/askForPass.js"
		></script>
		<script src="../../javascript/roomChooseComponents/components/chooseRoom.js"></script>
		<link rel="stylesheet" href="../css/roomChoose.css" />

		<script src="../socket.io/socket.io.js"></script>
		<script>
			$(document).ready(function() {
				document.getElementById("roomPass").readOnly = true;
			});

			const socket = io.connect();
			socket.on("connect", () => {
				let obj = {
					room: "roomChoose",
					name: "undecidedDumDum"
				};
				socket.emit("room", obj);
			});

			socket.on("update_room_data", data => {
				roomTableVar.updateList(data);
			});
		</script>
	</head>
	<body>
		<div class="roomTable" id="roomTableID"></div>
		<div class="cont">
			<form
				action="/board/createNew"
				method="post"
				id="roomCreate"
				onsubmit="return checkForm(this)"
			>
				<input
					type="checkbox"
					name="private"
					id="private"
					onclick="hideShowPasswordFeild(this)"
				/>Private room? <br />
				Roomname:
				<input type="text" name="roomName" id="roomName" />
				<div class="roomPasswordDiv" id="roomPasswordDiv">
					Password:
					<input type="text" name="roomPass" id="roomPass" />
				</div>
				<button type="submit">Create room</button>
			</form>
		</div>
	</body>
</html>
<!-- 
{% if rooms.length == 0%}
        <p>No public rooms! Why dont you make one?</p>
        {%else%}
            <p>Public rooms: </p>
            <table id="roomTable">
                <tr>
                    <th>&nbsp;</th>
                    <th>Room Name</th>
                    <th>Player Number</th>
                    <th>State</th>
                </tr>
                <tbody id = "#roomTabletbodyID">
                {% for r in rooms %}
                    {% if r.roomName != "generalChat" && r.playerNumber < 4  && r.roomName != "roomChoose" %}
                        <tr> 
                            {%if r.roomPassword != null %}
                            <td>
                                <button onclick="askForPassword('{{r.roomName}}',true)">Join</button>
                            </td>  
                            {% else %}
                                <td>
                                    <button onclick="askForPassword('{{r.roomName}}',false)">Join</button>
                                </td>
                            {% endif %}
                             add a onclick function that checks wetehr it needs a password 
                            and prob make it in a promps#t-->
<!-- <td> "{{r.roomName}}" </td> 
                            <td>{{r.playerNumber}}/4</td>
                            {%if r.roomPassword != null %}
                            <td>
                                Private
                            </td>  
                            {% else %}
                                <td>
                                    Public
                                </td>
                            {% endif %}

                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        
        <P>Alternatively, you can create your own room here and make it private: </P> -->
<!-- {%endif%}  -->
