@font-face {
	font-family: monop;
	src: url(../font/MONOPOLY_INLINE.ttf);
}

.cont{
    text-align: center;
}

h2{
    padding-top: 3em;
    padding-bottom: 3em;
}

body{
    background-image: url("../../../public/image/background.jpg");
    background-size:cover;
}